.links {
  width: 100vw;
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
}

.links-sub {
  display: flex;
  width: 60vw;
  align-items: center;
  gap: 12.5px;
}

.links a {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  text-decoration: underline;
}

.links span {
  color: lightgray;
}

.github {
  color: rgb(110, 84, 148);
}

.linked-in {
  color: rgb(0, 119, 181);
}

.discord {
  color: rgb(114, 137, 218);
}

@media only screen and (max-width: 750px) {
  .links {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 650px) {
  .links {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 500px) {
  .links {
    font-size: 1rem;
  }
  .links-sub {
    width: 80vw;
  }
}
